*.o
*.a
.deps
autom4te.cache
/dgen
/tobin
/Makefile
/config.log
/config.status
/musa/Makefile
/musa/m68kmake
/musa/m68kopac.c
/musa/m68kopdm.c
/musa/m68kopnz.c
/musa/m68kops.c
/mz80/Makefile
/sdl/Makefile
/sdl/pbm2df
/star/Makefile
